<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GamePlay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18309D792C6B8EDC00FCA36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18309D922C6B8EDE00FCA36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18309D9C2C6B8EDE00FCA36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
